<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contactez-nous</title>
<style>

  body {
   text-align: center;
  }

  h1 {
   
    margin-top: 50px;
  }
 

  form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color:  #ff70b759;
    border: solid #FF70B8 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  textarea {
    height: 100px;
  }

  button {
    background-color: #8AB9F1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #45a049;
  }
</style>
</head>
<body>

<body class="contact-page">

<h1>Contactez-nous</h1>
<p>Pour toute question ou commentaire, n'hésitez pas à nous contacter en utilisant le formulaire ci-dessous :</p>

<form action="/send_message" method="post">
  <label for="name">Nom :</label>
  <input type="text" id="name" name="name" required>

  <label for="email">Email :</label>
  <input type="email" id="email" name="email" required>

  <label for="message">Message :</label>
  <textarea id="message" name="message" rows="2" required></textarea>

  <button type="submit">Envoyer</button>
</form>

</body>
</html>