

<section class="cards-index">
<h1 class="h1-index display-4"> Ugly Cats </h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @items.each do |item| %>
    <div class="col-index">
      <div class="card-index h-100">
        <img src="<%= item.image_url %>" class="card-img-top" alt="Cat">
        <%= link_to item_path(item, image_url: item.image_url) do %>
           <button class="btn-index">View</button>
        <% end %>
      </div> 
    </div>
  <% end %>
</div>
</section>
