<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello and welcome on Chatpatte !</h1>
    <p>
      You subscribed by using this email : <%= @user.email %>.
    </p>
    <p>
      To access your client space, connect here : <%= @url %>.
    </p>
    <p> See you soon on Chatpatte !</p>
  </body>
</html>