/* NAVBAR */
nav {
  margin-bottom: 5%;
}

.navbar-light.bg-pink {
  background-color: #ecb4f800 ;
  height: 50%;
}

.logo {
  content: url('CHPT.png');
  width: 20%;
  height: auto;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: space-around;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #58111A; 
  font-family: 'Times New Romance', sans-serif;
  font-size: 25px;
}

@font-face {
  font-family: 'Times New Romance';
  src: url('Times New Romance.ttf') format('truetype');
}

.dropdown-menu {
  font-family: 'Times New Romance';
  color: #58111A;
  border-color: #FF70B8;
}

.dropdown-item {
  color: #58111A;
}

.dropdown-item:hover {
  background-color: #EAB4F8;
  color: #58111A;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  
}

.basket-container {
  position: relative;
  display: inline-block;
  left: -40px;
}

.fa-bag-shopping {
  color: #EAB4F8;
}

.btn-pink {
  background-color: #EAB4F8;
  border-color: #EAB4F8;
  color: white; 
  font-size: 15px;
  padding: 10px 30px; 
  border-radius: 15px;
}

.btn-pink:hover {
  background-color: #FF70B8;
  border-color: #FF70B8;
}
/* FIN NAVBAR */






/* PAGE INDEX */
body {
  background-color: #ecb4f847;
  font-family: 'Times New Romance', sans-serif;
}

.card-index {
  position: relative;
  border: solid #FF70B8;
  border-radius: 5%;
  width: 70%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.card-img-top {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-index {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FF70B8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.btn-index:hover {
  background-color: #EAB4F8;
}

@font-face {
  font-family: 'Catboo';
  src: url('Catboo.ttf') format('truetype');
}

.h1-index {
  font-family: 'Catboo', sans-serif;
  color: #58111A;
  display: flex;
  justify-content: center;
}

.display-4 {
  font-family: 'Catboo', sans-serif;
  color: #58111A;
}

.lead {
  color: #58111A;
}

.hero-index {
  margin-bottom: 10%;
}

.comments-index {
  margin-top: 15%;
}

.shadow-index {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid #FF70B8;
  border-radius: 10px;
}


.col-index {
  display: flex;
  color: #58111A;
}

.img-circle {
  border-radius: 50%;
  height: 100%;
  width: 50%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.sm-index {
  margin-top: 2%;
}



.star-index {
  margin-top: 3%;
  color: #EAB4F8;
}

.hr-index {
  color: #FF70B8;
}
/* FIN PAGE INDEX */



/* PAGE SHOW */
.img-show {
  border-radius: 10%;
  border: solid #FF70B8 2px;
}

.card_show {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: flex-start;
  margin: auto;
  gap: 30% ;
  color: #58111A;
}

.h1_center{
  text-align: center;
  margin-bottom: 7%;
  font-family: 'catboo', sans-serif;
  color: #58111A;

}

.border_show{
  border: solid #FF70B8;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding: 5% 5% 0 5%;
}

.price_show{
  position: relative;
  left: 70%;
  width: 30%;
  margin-top: 5%;
  text-align: center;
  border-radius: 40px;
  padding-top: 10px;
  color: #58111A;
}

.btn_bot{
  background-color: #8AB9F1;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.form-select {
  background-color: #ff70b74a;
  color: #58111A;
  border-color: #FF70B8;
}

.truck {
  display: flex;
}

.fa-truck-fast {
  margin-right: 5%;
}

.box {
  display: flex;
}

.fa-box {
  margin-right: 5%;
}
/* FIN PAGE SHOW */



/* FORMS */
.connexion-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff70b759;
  border: solid #FF70B8 2px;
  border-radius: 15px;
  padding: 5%;
  width: 35%;
  margin: auto;
  color: #58111A;
}

.form-log {
  margin-left: 0;
}

.field-form {
  border: solid #FF70B8 2px;
  border-radius: 10px;
  padding: 4%;
  width: 100%;
}

.field-form:focus{
  outline: none !important;
}

.connexion-button {
  background-color: #8AB9F1;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5% 15% 5% 15%;
  margin: 10px;
}

.actions-log {
  display: flex;
  justify-content: center;
}

.btn_bot2{
  background-color: #A9E38C;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.btn_bot3{
  background-color: #FF3F0A;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.end-form {
  display: flex;
}

.end-edit {
  display: flex;
}
/* FIN FORMS */




/* FOOTER */
footer {
  background: #e8b4f400;
  color: #58111A;
  margin-top: 100px;


}

.copy {
  font-size: 12px;
  padding: 10px;
}

.footer-middle {
  padding-top: 2em;
  color: #58111A;
  align-items: flex-start;
}

.social-links {
 display: flex;
 }

.social-link {
  margin: 0 10px;
}

.footer-pad h4 a {
  align-items: flex-end; 
  color: #58111A !important;
  text-decoration: none !important;
  }


/* FIN FOOTER */






